
html {
  background-color: #2B282C;
  font-family: 'Teko', sans-serif;
}

body {
  color: #111;
  background-color: #FFF;
  width: 80%;
  max-width: 60em;
  margin: auto;
}

.content {
  padding: 2em;
  padding-top: 0.5em;
}


h1, h2, h3 {
  padding: 0.5em;
}

h1 {
  background-color: #2B282C;
  color: #fff;
}

code {
  font-family: 'Inconsolata', serif;
  max-height: 100px;
}


pre {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

p.author, p.date {
  font-style: italic;
  display: inline;
}
